<div class="row">
    <%= link_to ' Back', posts_path, class: "fas fa-arrow-left text-decoration-none col-4", style: "color: #FC3E00;" %>
    <p class="col-6 fw-bolder">EDIT POST</p>
    <%= link_to '', @post, class: "fas fa-eye text-decoration-none col-2", style: "color: green;" %>
</div>

<%= render 'form', post: @post %>
