<div class="trending_news">
    <p>Trending today</p>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                        light-themed navbar that automatically collapses at the lg (large) 
                        breakpoint. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                        light-themed navbar that automatically collapses at the lg (large) 
                        breakpoint. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                        light-themed navbar that automatically collapses at the lg (large) 
                        breakpoint. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                        light-themed navbar that automatically collapses at the lg (large) 
                        breakpoint. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_posts">
    <p>Popular Posts</p>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 border">
            <div class="card shadow rounded mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                    </p>
                </div>
            </div>

            <div class="card shadow rounded">
                <div class="card-body">
                    <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 border">
            <div class="card shadow rounded">
                <div class="card-body">
                    <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
