<div class="trending_news">
    <p>Trending today</p>
    <div class="row">
        <% @posts.first(4).each do |post| %>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <h5 class="card-title">
                             <%= link_to post.title, post, class: "text-decoration-none" %>
                            </h5>

                            <p class="card-text">
                                <%= truncate(post.body, :length => 50) %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="popular_posts">
    <p>Popular Posts</p>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 border">
            <div class="card shadow rounded mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link" aria-current="page" href="#">
                            <i class="fab fa-hotjar"></i> Hot</a>
                        </div>  
                        <div class="col">
                            <a class="nav-link" aria-current="page" href="#">Everywhere 
                            <i class="fas fa-angle-down"></i></a>
                        </div>   
                        <div class="col">
                            <a class="nav-link" aria-current="page" href="#">
                            <i class="far fa-star"></i> New</a>
                        </div>
                        <div class="col">
                            <a class="nav-link" aria-current="page" href="#">
                            <i class="far fa-arrow-alt-circle-up"></i> Top</a>
                        </div>    
                    </div>
                </div>
            </div>
            
            <% @posts.each do |post| %>
                <div class="card shadow rounded mb-2">
                    <div class="card-body">
                        <p class="card-text">
                          <%= link_to post.title, post, class: "text-decoration-none" %>
                        </p>
                        <p class="card-text">
                            <%= truncate(post.body, :length => 50) %>
                        </p>
                    </div>
                </div>
            <% end %>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 border">
            <div class="card shadow rounded">
                <div class="card-body">
                    <p class="card-text">
                        Here’s an example of all the sub-components included in a responsive 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
