body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dae0e6;
}

.white-back {
  background-color: #fff;
}

.bn_index_head {
  position: relative;
  text-align: center;
  color: white;
}

.bn_index_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid;
  background-color: rgba(0, 0, 0, 0.4);
}

.bn_index_text_noimg {
  color: #fff;
  text-align: center;
  border: 3px solid;
  background-color: rgba(0, 0, 0, 0.4);
}

.bn_img_1 {
  padding: 5px;
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.4);
}

.cl_grey {
  color: grey;
}

.cl_green {
  color: green;
}

.cl_red {
  color: red;
}

.main_cl {
  color: #d84918;
}

.show_img {
  width: 100%;
  height: 350px;
}
